flake8==3.7.8
mypy==0.720
isort==4.3.21
black==19.3b0
cookiecutter==1.6.0
cryptography==2.8

pexpect==4.7.0
pytest==5.1.2
pytest-ordering==0.6
pytest-cookies==0.4.0
pytest-rerunfailures==7.0
pytest-logger==0.5.1
